<div>
    <img src="assets/sunbeam.jpg" alt="" width="100%">
</div>
<div class="container">
    <div class="row d-flex align-items-center mt-5 mb-5">
        <div class="col-6">
            <img src="assets/sunbeam.jpg" alt="" width="100%">
        </div>
        <div class="col-6">
            <h1>
                I am Iron man
            </h1>
            There is a row of N houses, each house can be painted with one of the three colors: red, blue or green. The
            cost of painting each house with a certain color is different. You have to paint all the houses such that no
            two adjacent houses have the same color. Find the minimum cost to paint all houses


    </div>
    <div class="row d-flex align-items-center mt-5 mb-5">
        
        <div class="col-6">
            <h1>
                I am Iron man
            </h1>
            There is a row of N houses, each house can be painted with one of the three colors: red, blue or green. The
            cost of painting each house with a certain color is different. You have to paint all the houses such that no
            two adjacent houses have the same color. Find the minimum cost to paint all houses


    </div>
    <div class="col-6">
        <img src="assets/sunbeam.jpg" alt="" width="100%">
    </div>

</div>